body {
    margin: 0;
    background:  #32909a;
}
#container {
    border: 1px solid red;
    background:	 #ff0080 ;
    margin: 20px;
}
#topNav {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: 10px;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    margin-right: 50px;
}
li {
    border-bottom: 1px solid lightgrey;
}
input {
}
input:focus {
    outline: none;
    line-height: 20px;
    padding: 2px 10px;
}